form{
	max-width:600px;
}

.large_input{
	padding:20px 5px;
	margin-bottom:$small;
	@include radius(40px);
	@extend .box-shadow;
	color:$dark-color;
	display:block;
	font-size:$medium;	
	text-decoration:none;
	border:0px;
	max-width:600px;
}

select, input, textarea{
	@extend .large_input;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    background:none;
    position:relative;
    z-index:1;
	display:block;
	width:100%;
	padding:15px;    
}

input, textarea{
	background:$off-white;
}

fieldset, label{
	text-align:left;
}

label{
	@extend .heading;
	margin-bottom:5px;
	display:block;
}

section{
	padding-bottom:$medium;
	margin-bottom:$medium;
	border-bottom:1px solid $light-color;
}

.select_wrapper{
	@include radius(40px);	
	background:$off-white;	
	position:relative;
	max-width:600px;

	span{
		color:$blue;
		position:absolute;
		right:20px;
		top:18px;
		cursor:pointer;
		z-index:0;
	}
}

select, .button{
	cursor:pointer
}

.button{
	background:$off-white;	
	@extend .large_input;
	font-style:italic;

	&:hover{
		background: $white;
	}
}