@mixin background-gradient($angle1, $angle2){
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87c540+0,75ccd2+100 */
	background: $green; /* Old browsers */
	background: -moz-linear-gradient($angle1, $green 0%, $blue 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient($angle1, $green 0%,$blue 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient($angle2, $green 0%,$blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin transition_mixin($transition) {
	-o-transition: $transition;
	-ms-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

@mixin radius($radius) {
	-o-border-radius: $radius;
	-ms-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}