.plant_preview{
	position:relative;
	cursor:pointer;
	display:block;

	text-align:left;
	padding:$small;
	margin-bottom:5px;
	@extend .box-shadow;
	@include background-gradient(90deg,-90deg);
	//@include radius(50px);	

	&:nth-of-type(even){
		@include background-gradient(-90deg,90deg);				
	}

	opacity:1;

	&:hover{
		opacity:.9;
	}

	.preview_details{
		position:absolute;
		left: 76px;
		top: 25px;
		right:25px;

		.name, .latin_name{
			width:100%;
		}

		.name{
			padding-left:10px;
		}
	}
}

.name{
	@extend .heading;
	border-bottom:2px solid $off-white;
	text-align:left;
	margin-bottom:0px;
}

.latin_name{
	text-align:right;
	@extend .accent;
	text-transform:capitalize;
}

.description{
	text-align:left;
}

.image_wrapper{
	display:inline-block;
	border:2px solid $off-white;

	height:60px;
	width:60px;
	overflow:hidden;
	@include radius(50%);

	&.main{
		width:250px;
		height:250px;
	}

	&.more_plants{
		margin:0px 5px;
	}

	img{
		&.portrait{
			width:100%;
		}
		&.landscape{
			height:100%;
		}
	}
}

#clear_favorites{
	margin-top:$medium;
}

citation, p{
	a{
		text-decoration:underline;
	}
}