.plant_preview{
	position:relative;
	cursor:pointer;
	display:block;

	text-align:left;
	padding:$small;
	margin-bottom:5px;
	@extend .box-shadow;
	@include background-gradient(90deg,-90deg);

	&:nth-of-type(even){
		@include background-gradient(-90deg,90deg);				
	}

	.preview_details{
		position:absolute;
		left: 76px;
		top: 25px;

		.name, .latin_name{
			width:500px;
		}

		.name{
			padding-left:10px;
		}
	}
}

.name{
	@extend .heading;
	border-bottom:2px solid $off-white;
	text-align:left;
}

.latin_name{
	text-align:right;
	@extend .accent;
}

.description{
	text-align:left;
}

.image_wrapper{
	display:inline-block;
	border:2px solid $off-white;

	height:60px;
	width:60px;
	overflow:hidden;
	@include radius(50%);

	&.main{
		width:250px;
		height:250px;
	}

	img{
		width:100%;
	}
}