*{
	line-height:140%;
	font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	@extend .heading;
}

p{
	font-size:$small;
	margin-bottom:$small;
	max-width:600px;
}

h1{
	font-size:$extra-large;
	margin-bottom:$large;
}

h2{
	font-size:$large;
	margin-bottom:$medium;
}

h3{
	font-size:$medium;
	margin-bottom:$small;
}

.accent{
	font-style:italic;
}

a{
	color:#fff;
	text-decoration:none;
}