$white 			:	#fff;
$off-white		:	#F8FBF8;
$green			:	#87C540;
$blue			:	#75CCD2;
$light-color	:	#CEDCD3;
$dark-color		:	#00301C;
$off-black		:	#131313;

$small 			:	13pt;
$medium			:	16pt;
$large			:	21pt;
$extra-large	:	34pt;