/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.heading, h1, h2, h3, h4, h5, h6, label, .name, header a {
  text-transform: uppercase;
  letter-spacing: .1em; }

.box-shadow, .large_input, select, input, textarea, .button, #error_text, .plant_preview, header {
  box-shadow: 0px 5px 10px #00301C; }

.visible-y {
  height: 500px; }

* {
  line-height: 140%;
  font-family: 'Lato', sans-serif; }

p {
  font-size: 13pt;
  margin-bottom: 13pt;
  max-width: 600px; }

h1 {
  font-size: 34pt;
  margin-bottom: 21pt; }

h2 {
  font-size: 21pt;
  margin-bottom: 16pt; }

h3 {
  font-size: 16pt;
  margin-bottom: 13pt; }

.accent, .latin_name {
  font-style: italic; }

a {
  color: #fff;
  text-decoration: none; }

form {
  max-width: 600px; }

.large_input, select, input, textarea, .button, #error_text {
  padding: 20px 5px;
  margin-bottom: 13pt;
  color: #00301C;
  display: block;
  font-size: 16pt;
  text-decoration: none;
  border: 0px;
  max-width: 600px; }

select, input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  background: none;
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 15px; }

input, textarea {
  background: #F8FBF8; }

fieldset, label {
  text-align: left; }

label {
  margin-bottom: 5px;
  display: block; }

section {
  padding-bottom: 16pt;
  margin-bottom: 16pt;
  border-bottom: 1px solid #CEDCD3; }

.select_wrapper {
  background: #F8FBF8;
  position: relative;
  max-width: 600px; }
  .select_wrapper span {
    color: #7DCA95;
    position: absolute;
    right: 20px;
    top: 18px;
    cursor: pointer;
    z-index: 0; }

select, .button {
  cursor: pointer; }

.button {
  background: #F8FBF8;
  font-style: italic;
  -o-border-radius: 40px;
  -ms-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px; }
  .button:hover {
    background: #fff; }

.error {
  box-shadow: 0px 0px 10px #f00; }

#error_text {
  background: #f00;
  color: #fff;
  text-align: left;
  display: none; }

#home .logo {
  line-height: 100%; }
  #home .logo div:first-of-type {
    font-size: 46pt; }
  #home .logo div:last-of-type {
    position: relative;
    top: -15pt; }
  #home .logo svg {
    position: relative;
    top: -25pt;
    width: 150px; }
#home .button {
  display: inline-block;
  margin: 2%;
  width: 46%; }

#map {
  width: 400px; }
  #map path, #map polyline, #map polygon {
    fill: #F8FBF8;
    cursor: pointer;
    stroke: #87C540; }
    #map path.selected, #map polyline.selected, #map polygon.selected {
      fill: #CEDCD3; }
    #map path:hover, #map polyline:hover, #map polygon:hover {
      fill: #87C540; }

.plant {
  max-width: 600px; }

.plant_preview {
  position: relative;
  cursor: pointer;
  display: block;
  max-width: 600px;
  text-align: left;
  padding: 13pt;
  margin-bottom: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87c540+0,75ccd2+100 */
  background: #87C540;
  /* Old browsers */
  background: -moz-linear-gradient(90deg, #87C540 0%, #7DCA95 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(90deg, #87C540 0%, #7DCA95 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(-90deg, #87C540 0%, #7DCA95 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: 1; }
  .plant_preview:nth-of-type(even) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87c540+0,75ccd2+100 */
    background: #87C540;
    /* Old browsers */
    background: -moz-linear-gradient(-90deg, #87C540 0%, #7DCA95 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-90deg, #87C540 0%, #7DCA95 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(90deg, #87C540 0%, #7DCA95 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .plant_preview:hover {
    opacity: .9; }
  .plant_preview .preview_details {
    position: absolute;
    left: 76px;
    top: 25px;
    right: 25px; }
    .plant_preview .preview_details .name, .plant_preview .preview_details .latin_name {
      width: 100%; }
    .plant_preview .preview_details .name {
      padding-left: 10px; }

.name {
  border-bottom: 2px solid #F8FBF8;
  text-align: left;
  margin-bottom: 0px; }

.latin_name {
  text-align: right;
  text-transform: capitalize; }

#plant_map {
  width: 24%;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top; }
  #plant_map #map {
    width: 100%; }

.description {
  text-align: left;
  display: inline-block;
  width: 72%;
  vertical-align: top; }

.image_wrapper {
  display: inline-block;
  border: 2px solid #F8FBF8;
  height: 60px;
  width: 60px;
  overflow: hidden;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
  .image_wrapper.main {
    width: 250px;
    height: 250px; }
  .image_wrapper.more_plants {
    margin: 0px 5px; }
  .image_wrapper img.portrait {
    width: 100%; }
  .image_wrapper img.landscape {
    height: 100%; }

#clear_favorites {
  margin-top: 16pt; }

citation a, p a {
  text-decoration: underline; }

body, body * {
  box-sizing: border-box; }

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87c540+0,75ccd2+100 */
  background: #87C540;
  /* Old browsers */
  background: -moz-linear-gradient(-70deg, #87C540 0%, #7DCA95 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-70deg, #87C540 0%, #7DCA95 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(70deg, #87C540 0%, #7DCA95 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #F8FBF8;
  z-index: 0; }

header {
  position: fixed;
  z-index: 20;
  left: 0px;
  right: 0px;
  top: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87c540+0,75ccd2+100 */
  background: #87C540;
  /* Old browsers */
  background: -moz-linear-gradient(-6deg, #87C540 0%, #7DCA95 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-6deg, #87C540 0%, #7DCA95 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(6deg, #87C540 0%, #7DCA95 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  header a {
    color: #F8FBF8;
    text-decoration: none;
    display: inline-block;
    padding: 20px; }
    header a:hover {
      color: #fff; }
  header nav {
    float: right;
    padding: 15px; }

.logo svg {
  width: 30px;
  fill: #F8FBF8; }
.logo:hover svg {
  fill: #fff; }
.logo span {
  position: relative;
  top: -15px; }

.main-content {
  background: url("../../assets/imgs/transparency30.png");
  padding: 20px;
  padding-top: 120px;
  min-height: 100vh;
  text-align: center; }
  .main-content * {
    margin-left: auto;
    margin-right: auto; }
  .main-content .logo svg {
    width: 80px;
    position: relative;
    top: 25px; }

citation {
  padding: 20px;
  display: block; }

.mobile {
  display: none; }

#mobile_modal {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  z-index: 5; }

@media (max-width: 650px) {
  svg, img {
    max-width: 100%; }

  h1 {
    font-size: 16pt; }

  h2 {
    font-size: 13pt; }

  h3 {
    font-size: 13pt; }

  .mobile {
    display: block; }

  #menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #F8FBF8;
    cursor: pointer; }
    #menu-toggle svg {
      width: 30px;
      fill: none;
      stroke: #F8FBF8;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-miterlimit: 10; }
      #menu-toggle svg:hover {
        stroke: #fff; }
      #menu-toggle svg .middle-line {
        -o-transition: all 300ms;
        -ms-transition: all 300ms;
        -webkit-transition: all 300ms;
        transition: all 300ms; }
      #menu-toggle svg.open .middle-line {
        opacity: 0; }

  header nav {
    width: 100%;
    float: none;
    position: absolute;
    top: 70px;
    height: 0px;
    overflow: hidden;
    padding: 0px;
    -o-transition: all 600ms;
    -ms-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 10; }
    header nav a {
      display: block;
      width: 100%;
      margin-top: 4px;
      padding-left: 20px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87c540+0,75ccd2+100 */
      background: #87C540;
      /* Old browsers */
      background: -moz-linear-gradient(90deg, #87C540 0%, #7DCA95 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(90deg, #87C540 0%, #7DCA95 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(-90deg, #87C540 0%, #7DCA95 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      box-shadow: 0px 5px 10px #00301C; }
      header nav a:nth-of-type(even) {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87c540+0,75ccd2+100 */
        background: #87C540;
        /* Old browsers */
        background: -moz-linear-gradient(-90deg, #87C540 0%, #7DCA95 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-90deg, #87C540 0%, #7DCA95 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(90deg, #87C540 0%, #7DCA95 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  header a {
    padding: 10px; }

  .logo {
    width: 100%;
    text-align: center; }

  #map {
    width: 280px; }

  .latin_name {
    font-size: 10pt; }

  #plant_map, .description {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
