@import 'reset';

@import 'vars';
@import 'mixins';
@import 'extends';

@import 'typography';
@import 'forms';

@import 'home';
@import 'locations';
@import 'plants';


body, body *{
	box-sizing:border-box;
}

body{
	@include background-gradient(-70deg, 70deg);
	color:$off-white;
	z-index:0;
}

header{
	position:fixed;
	z-index:20;
	left:0px;
	right:0px;
	top:0px;
	@include background-gradient(-6deg, 6deg);
	@extend .box-shadow;

	a{
		color:$off-white;
		text-decoration:none;
		display:inline-block;
		padding:20px;
		@extend .heading;

		&:hover{
			color:$white;
		}
	}

	nav{
		float:right;
		padding:15px;
	}
}

.logo{
	svg{
		width:30px;
		fill:$off-white;
	}

	&:hover{
		svg{
			fill:$white;
		}
	}

	span{
		position:relative;
		top:-15px;
	}
}

.main-content{
	background:url('../../assets/imgs/transparency30.png');
	padding:20px;
	padding-top:120px;
	min-height:100vh;
	text-align:center;	

	*{
		margin-left: auto;
		margin-right:auto;
	}

	.logo{	
		svg{
			width:80px;
			position:relative;
			top:25px;
		}
	}
}

citation{
	padding: 20px;
	display: block;
}

@import 'mobile';